:root {
    --color-background: #212429;
    --color-secondary: #2B3444;
    --color-dark: #1A1919;
    --color-primary: #EA3796;
    --color-success: #34C759;
    --color-info: #2FCBFF;
    --color-danger: #FF4E4E;
}